.btn {
    border: 0px;
}

.labelitem {
    margin-left: 10px;
}

.divcontainer {
    margin: 15px;
}

.btn:hover {
    background-color: #6e0a4b;
}

.firstcontentholder {
    margin-top: 2%;
}

@media screen and (min-width : 1204px)
{
   .firstcontentholder {
       margin-top: 4%;
   }
}
