.mainboxdiv {
    text-align: center;
    background: #0b7d99;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 20px;
}

.allpostsitem {
    margin-bottom: 15px;
}

.container {
    background-color: white;;
}

button, .upload {
    background-color: #1ca6ad;
    margin: 5px;
    border: 0px;
    color: white;
}

.delbtn {
    margin: 5px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
}

.upload:hover, .delbtn:hover {
    background-color: #6e0a4b;
    color: white;
}




ul {
    list-style-type: none;
    padding-left: 0px
}

.container {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.postcontainer {
    padding: 0px;
}

.postername {
    margin-right: 180px;
    font-weight: bold;
    font-size: 12px;
}

.postname {
    font-weight: bolder;
}

.postitem {
    margin-bottom: 10px;
}

.postimage {
    width: 250px;
}

@media only screen and (min-width: 700px) {
    .postimage {
        width: 500px;
    }
    .postername {
        margin-right: 430px;
        font-size: 12px;
    }
  }